target/
input-output/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/RemoteFileTele/nbproject/private/
/RemoteFileTele/build/

*.py[cod]
*.so
*.egg
*.egg-info
dist
build
#*/.idea/*
#__pycache_

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store