target/
input-output/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/RemoteFileTele/nbproject/private/
/RemoteFileTele/build/

# python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
workspace.xml

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
